<!DOCTYPE html>
<html lang="jp" ng-app="idexSubscribe">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>申込完了</title>
    <!-- Minifyしたscriptの読み込み -->
    <script src="/bundles/angular?v=FM4JP9inKh7heiQgseXjQ6AT4hYXCnIw9NwgsIalPIA1"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5G3NMXM');</script>
    <!-- End Google Tag Manager -->
    <script src="/bundles/app/idexSubscribe?v=qLr4Oi5nb0msSoM_k7sNIWa3y0GyFF8RTfjxEe7wwWc1"></script>
    <!-- Minifyしたcssの読み込み -->
    <link href="/Contents/Styles/main?v=oObd3_ntQsHBO02OgLZdCFewCVi8iN3xgRB9MzpxDnc1" rel="stylesheet"/>
    <link href="/Contents/Styles/idexSubscribe?v=lAeEl3l4GxBaUgFn7QDvtJ-UAGzQ_OglXypQlCkc0sg1" rel="stylesheet"/>
    <!-- 継承先でScriptCssセクションにscript/cssを記述する -->
    
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G3NMXM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div>
        <div class="parentWrapper">
            <div class="mainWrapper">
                <header class="header">
                    <header-component web-server-id=""></header-component>
                </header>
                <article class="mainContainer">
                    <div class="mainContentWrapper">
                        

<form action="/Subscribe/Complete" name="thisForm" method="post" ng-controller="completeController as idexCtrl" novalidate
      ng-init="idexCtrl.initView({&quot;isIdexCard&quot;:false,&quot;isAgency&quot;:false,&quot;agencyMailSendFlg&quot;:false,&quot;idexContactForm&quot;:&quot;https://idexdenki.idex.co.jp/inquiry/&quot;}, {&quot;isPrivate&quot;:false});">
    <input name="__RequestVerificationToken" type="hidden" value="xxOy04LfelBgin1RKqqItEgUuRB-zW7NcAp15nfdUV7sgEXkbnMRtroPq90cg0j6To2qZkyKgZjG6kY-YEsc3YOHclibt20anLJXYiWOM2M1" />
    <div class="container-fluid">
        <!-- 新規申込 申込完了画面  画面ID:CPV0580  -->
        <div class="wrapper-CPV0580">
            <h2 class="contentTitle">お申込完了</h2>
            <div class="completeMessage">
                <p>ご契約のお申し込みを受け付けいたしました。</p>
                <p ng-if="!idexCtrl.body.isAgency">
                    <span>ご登録いただいておりますメールアドレスに確認のメールをお送りいたしますので、ご確認ください。</span>
                    <span>メールが届かない場合はお問い合わせください。</span>
                </p>
                <p ng-if="idexCtrl.body.isAgency && idexCtrl.body.agencyMailSendFlg">
                    <!-- 代理入力、かつ、Web.config「代理入力のメール配信実行フラグ（AgencyMailSendFlg）」が"1"(メール配信する)の場合 -->
                    <span>お客様に受付完了メールを送信いたしました。</span>
                </p>
                <p>
                    <span>ご契約内容の詳細につきましては、別途お送りする「契約締結のお知らせ」をご確認ください。</span>
                    <span>お手続き完了までには数日を要します。また、お客さまの設備等の事情によりお時間をいただくことがあります。</span>
                </p>
                <p>
                    <span class="descriptionText">※お申し込み内容確認のため、イデックスでんきコールセンターからご連絡させていただくことがあります。</span>
                    <span class="descriptionText">※夜間受付サービス時間帯(22:00から翌6:00の間)に申し込まれた場合は、翌朝6:00以降の受付となります。</span>
                    <span class="descriptionText"><a href="{{idexCtrl.body.idexContactForm}}" target="_blank">ご契約のお申し込みに関するお問い合わせはこちら</a></span>
                </p>
            </div>
            <!-- 電話問い合わせ先 -->
            <tell-contact-component ng-if="!idexCtrl.body.isAgency"></tell-contact-component>
            <div class="operateButtonWrap">
                <button type="submit" name="Top" class="backTopPageButton" ng-if="!idexCtrl.body.isAgency">イデックスでんきホームページに戻る</button>
                <button type="submit" name="Subscribe" class="nextPointcardButton" ng-if="!idexCtrl.body.isIdexCard && !idexCtrl.body.isAgency">引き続きイデックスクラブポイントカードのお申し込みに進む</button>
                <!-- 代理入力の場合 -->
                <button type="submit" name="Top" class="" ng-if="idexCtrl.body.isAgency">メイン画面に戻る</button>
            </div>
            <!-- 支払情報入力画面でIDEX CLUB POINT CARDを選択しなかった場合 -->
            <!-- イデックスクラブカードの宣伝 -->
            <idex-club-card-publicity-component ng-if="!idexCtrl.body.isIdexCard && !idexCtrl.body.isAgency"></idex-club-card-publicity-component>
        </div>
    </div>
</form>
                    </div>
                </article>
                <footer class="footer">
                    <footer-component></footer-component>
                </footer>
            </div>
        </div>
    </div>
    <!-- YahooTagManagerコード -->
    <script id="tagjs" type="text/javascript">
        (function () {
            var tagjs = document.createElement("script");
            var s = document.getElementsByTagName("script")[0];
            tagjs.async = true;
            tagjs.src = "//s.yjtag.jp/tag.js#site=EBASayg";
            s.parentNode.insertBefore(tagjs, s);
        }());
    </script>
    <noscript>
        <iframe src="//b.yjtag.jp/iframe?c=EBASayg" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </noscript>
    <!-- end YahooTagManagerコード -->
</body>
</html>